export(ADEC,CEC,SNF,FeaturesOfCluster,SimilarityHeatmap,HeatmapSelection,Normalization,DetermineWeight_SilClust,SelectnrClusters,CompareSilCluster,CharacteristicFeatures,Cluster,Distance,ContFeaturesPlot,LabelPlot,ClusterPlot,HeatmapPlot,ColorPalette,BoxPlotDistance,ADC,ADECa,ADECb,ADECc,WonM,CECa,CECb,CECc,WeightedClust,SNFa,SNFb,SNFc,DetermineWeight_SimClust,WeightedSimClust,ReorderToReference,TrackCluster,SimilarityMeasure,ColorsNames,ComparePlot,DiffGenes,ChooseCluster,FindElement,PreparePathway,Pathways,PathwaysIter,PathwayAnalysis,PlotPathways,Geneset.intersect,SharedGenesPathsFeat,FindGenes,FindCluster,SharedComps,ProfilePlot,CompareInteractive,CompareSvsM,BinFeaturesPlot,Ultimate)
importFrom(a4Base,limmaTwoLevels)
importFrom(a4Core,topTable)
importFrom(Biobase,exprs)
importFrom(cluster,agnes,daisy,clusGap,maxSE,pam)
importFrom(plotrix, color2D.matplot)
importFrom(plyr, join, join_all,try_default)
importFrom(gplots, heatmap.2)
importFrom(limma,lmFit,eBayes,toptable)
importFrom(ade4, dist.binary)
importFrom(gridExtra,grid.arrange)
importFrom(prodlim,row.match)
importFrom(gtools,permutations)
importFrom(e1071,hamming.distance)
importFrom(pls,stdize)
importFrom(graphics,hist,boxplot,image,barplot)
importFrom(stats,na.exclude,smoothEnds,density,mad,na.omit,complete.cases,runmed,start,window,aggregate,weights,cor,cov,quantile,end,residuals,median,update,sd,var,xtabs,IQR)
importFrom(utils,tail,stack,relist,head)
 importFrom("graphics", "abline", "axis", "identify", "layout",
             "legend", "lines", "locator", "mtext", "par", "plot",
             "points", "segments", "text")
 importFrom("stats", "approx", "as.dendrogram", "as.hclust", "cutree",
             "dendrapply", "dnorm", "fisher.test", "is.leaf", "lm",
             "model.matrix", "order.dendrogram", "p.adjust", "qnorm",
             "t.test")
importFrom("utils", "combn")
import(SNFtool)
import(grDevices)
import(biomaRt)
import(ggplot2)
import(org.Hs.eg.db)
import(MLP)
