export(CharacteristicFeatures,Cluster,Distance,LabelCols,BioassayPlot,LabelPlot,ClusterPlot,ClusterCols,HeatmapCols,ColorPalette,BoxPlotDistance,ADC,ADECa,ADECb,ADECc,WonM,CECa,CECb,CECc,WeightedClust,SNFa,SNFb,SNFc,DetermineWeight,WeightedSimClust,ReorderToReference,TrackCluster,SimilarityMeasure,ColorsNames,ComparePlot,DiffGenes,ChooseCluster,FindElement,AnnotateEntrezIDtoGO,PreparePathway,Pathways,PathwaysIter,Geneset.intersect,SharedGenesPathsFeat,FindGenes,FindCluster,SharedComps,ProfilePlot,CompareInteractive,CompareSvsM,ProfilePlotAll,FeaturesPlot,Ultimate)
importFrom(a4Base,limmaTwoLevels)
importFrom(a4Core,topTable)
importFrom(Biobase,exprs)
importFrom(cluster,agnes,daisy,clusGap,maxSE)
importFrom(plotrix, color2D.matplot)
importFrom(plyr, join, join_all,try_default)
importFrom(gplots, heatmap.2)
importFrom(limma,lmFit,eBayes,toptable)
importFrom(ade4, dist.binary)
importFrom(gridExtra,grid.arrange)
importFrom(MLP,MLP,plotGOgraph)
importFrom(prodlim,row.match)
importFrom(gtools,permutations)
import(SNFtool)
import(grDevices)
import(biomaRt)
import(ggplot2)