export(FeaturesOfCluster,SimilarityHeatmap,HeatmapSelection,Normalization,DetermineWeight_SilClust,SelectnrClusters,CompareSilCluster,CharacteristicFeatures,Cluster,Distance,ContFeaturesPlot,LabelPlot,ClusterPlot,HeatmapPlot,ColorPalette,BoxPlotDistance,ADC,ADECa,ADECb,ADECc,WonM,CECa,CECb,CECc,WeightedClust,SNFa,SNFb,SNFc,DetermineWeight_SimClust,WeightedSimClust,ReorderToReference,TrackCluster,SimilarityMeasure,ColorsNames,ComparePlot,DiffGenes,ChooseCluster,FindElement,PreparePathway,Pathways,PathwaysIter,PathwayAnalysis,PlotPathways,Geneset.intersect,SharedGenesPathsFeat,FindGenes,FindCluster,SharedComps,ProfilePlot,CompareInteractive,CompareSvsM,BinFeaturesPlot,Ultimate)
importFrom(a4Base,limmaTwoLevels)
importFrom(a4Core,topTable)
importFrom(Biobase,exprs)
importFrom(cluster,agnes,daisy,clusGap,maxSE,pam)
importFrom(plotrix, color2D.matplot)
importFrom(plyr, join, join_all,try_default)
importFrom(gplots, heatmap.2)
importFrom(limma,lmFit,eBayes,toptable)
importFrom(ade4, dist.binary)
importFrom(gridExtra,grid.arrange)
importFrom(MLP,MLP,plotGOgraph,getGeneSets)
importFrom(prodlim,row.match)
importFrom(gtools,permutations)
importFrom(e1071,hamming.distance)
importFrom(pls,stdize)
import(SNFtool)
import(grDevices)
import(biomaRt)
import(ggplot2)
import(org.Hs.eg.db)
