export(LabelCols,Labelplot,Clusterplot,ClusterCols,HeatmapCols,Colorpalette,BoxPlotDist,Cluster,ADC,ADECa,ADECb,ADECc,WonM,CECa,CECb,CECc,WeightedClust,SNFa,SNFb,SNFc,ChooseWeight,WeightedSimClust,MatrixFunction,ClusterDistributionSep,ClusterDistribution,SimilarityMeasure,ColorsNames,ComparePlot,DiffGenes,DiffGenes.2,DiffGenesSelection,ChooseFeatures,FindElement,PreparePathway,Pathways.2,Pathways,PathwaysIter,PathwaysSelection,PathwaysSelectionIter,PathwaysCluster,Geneset.intersect,Geneset.intersectSelection,Shared,SharedLimma,SharedMLP,SharedSelection,SharedSelectionLimma,FindGenes,FindCluster,SharedComps,ProfilePlot,ProfilePlotAll,FeaturesPlot,Ultimate)
importFrom(a4Base,limmaTwoLevels)
importFrom(a4Core,topTable)
importFrom(Biobase,exprs)
importFrom(cluster,agnes,daisy)
importFrom(grDevices,colorRamp, gray, rainbow, png, pdf, pdf.options)
importFrom(plotrix, color2D.matplot)
importFrom(plyr, join, join_all)
importFrom(limma, lmFit, ebayes)